[submodule "zsh/.zsh/extensions/alias-tips"]
	path = zsh/.zsh/extensions/alias-tips
	url = git@github.com:djui/alias-tips.git
[submodule "zsh/.zsh/extensions/zsh-autosuggestions"]
	path = zsh/.zsh/extensions/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
