[includeIf "gitdir:~/Workspace/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/Workspace/beamery/"]
  path = .gitconfig-work
[includeIf "gitdir:~/.config/nvim/"]
  path = .gitconfig-personal

# Edit this line to point to your alternate configuration file
[pull]
	rebase = true
